body {
    font-family: "Comic sans MS";
    color: #80e211;
    background-color: #4a0f56;
    text-align: center;
    font-weight: 1000
}

img {
    border: 10px solid #80e211;
    margin: 10px;
    padding: 10px
}

a {
    color: #ffffff
}

button {
    background-color: #c92626;
    font-family: "Comic sans MS";
    font-weight: 1000;
    
}

